replicaCount: 2

image:
  repository: blood-on-mahjong
  tag: ""
  pullPolicy: IfNotPresent

service:
  port: 3000

env:
  - name: MONGODB_URI
    valueFrom:
      secretKeyRef:
        name: mongodb-uri
        key: uri
  - name: MONGODB_DB
    valueFrom:
      secretKeyRef:
        name: mongodb-uri
        key: db

