apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  type: NodePort
  sessionAffinity: None
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: {{ .Release.Name }}
