name: CI-CD

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    env:
      WERF_BUILDAH_MODE: auto
      KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set KUBECONFIG
        run: |
          echo "$KUBECONFIG_BASE64" | base64 -d > kubeconfig
          export KUBECONFIG=$PWD/kubeconfig

      - name: Install Werf
        run: |
          curl -L https://werf.io/install.sh | bash
          echo "$HOME/.werf/bin" >> $GITHUB_PATH

      - name: Install Node & Playwright deps
        run: |
          npm ci
          npx playwright install --with-deps

      - name: Run Tests
        run: npm test

      - name: Build & Deploy with Werf
        run: |
          werf build --repo ghcr.io/${{ github.repository_owner }}/blood-on-mahjong
          werf converge \
            --repo ghcr.io/${{ github.repository_owner }}/blood-on-mahjong \
            --kube-config kubeconfig
