name: CI-CD

on:
  push:
    branches: ["ci-cd"]
  pull_request:
    branches: ["ci-cd"]
  workflow_dispatch:

jobs:
  prod:
    name: prod
    runs-on: self-hosted

    env:
      WERF_BUILDAH_MODE: auto
      WERF_KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install werf
        uses: werf/actions/install@v2

      - name: Deploy with werf
        run: |
          source "$(werf ci-env github --as-file)"
          werf cr login -u ${{ github.repository_owner }} -p $WERF_REPO_GITHUB_TOKEN ghcr.io
          werf converge --set mongodbUri="${{ secrets.MONGODB_URI }}"
        env:
          WERF_ENV: prod
          WERF_KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WERF_REPO_GITHUB_TOKEN: ${{ secrets.WERF_REPO_GITHUB_TOKEN }}
          WERF_BUILDAH_MODE: auto

      - name: Set up Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install Node & Playwright deps
        run: |
          npm ci
          npx playwright install

      - name: Run tests
        run: npm test
