name: CI-CD

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]


jobs:
  prod:
    name: prod
    runs-on: self-hosted

    env:
      WERF_BUILDAH_MODE: auto
      WERF_KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install Node & Playwright deps
        run: |
          npm ci
          npm install @playwright/test
          npx playwright install

      - name: Run tests
        run: npm test

      - name: Install werf
        uses: werf/actions/install@v2

      - name: Deploy with werf
        run: |
          source "$(werf ci-env github --as-file)"
          werf converge \
            --repo "ghcr.io/${{ github.repository_owner }}/blood-on-mahjong"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
